body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;   
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;

}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin: 0 10px;

}

nav ul li a {
    color: white;
    text-decoration: none;

}

section {
    padding: 20px;
    margin: 80px 20px 20px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);

}

#home {
    position: relative;
    text-align: center;
    color: white;

}
.banner {
    background: url('images/background.png')no-repeat center center/cover;
    padding: 100px 20px;
    border-radius: 8px;

}
